.container {
    width: 960px;
    display:block;
    margin: 0px auto 20px auto;
}

#console textarea {
    width: 790px;
    height: 200px;
}

#info p {
    display:block;
    float:left;
}

#info #fps {
    margin-left: 670px;
}

#user-inputs label {
    width: 150px;
    display: block;
}

#user-inputs input {
    margin-bottom: 10px;
}

.hidden {
    display: none;
}